.Container{
    background-color: rgb(168, 175, 181);
    position: fixed;
    top: 0;
    padding-top: 70px;
    padding-bottom: 10px;
    min-width: 100vw;
}

.Row{
    max-width: 700px;
    margin: auto ;
}

.TopLinks{
    color: black;
    font-weight: 500;
    text-decoration: underline;
    opacity: 0.75;
    text-align: center;
}

.TopLinksActive{
    text-align: center;
    color: black;
    font-weight: 600;
    text-decoration: underline;
    opacity: 1;
}

/* Larger devices (768px and up) */
@media only screen and (min-width: 768px) {
    .Container {
        padding-top: 100px;
    }
  }
  