.Image {
    max-width: 500px;
    max-height: 500px;
    margin: 0 10px
}

.Image img{
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 15px;
    padding: 0;
}

.PostContainer{
    background-color: rgb(168, 175, 181);
    width: 90%;
    max-width: 520px;
    border-radius: 15px;
    padding: 10px;
}

.Title{
    margin: 10px;
    font-weight: 600;
}

/* Larger devices (768px and up) */
@media only screen and (min-width: 768px) {
    .PostContainer {
        padding: 10px 40px;
        max-width: 580px;
    }
  }
  